<div class="container-fluid border" style="margin-top: 40px;">
    <div class="row">
        <div class="col-lg-10 ml-auto">
            <div class="row mt-5 mb-3">
                <div class="col-md-3 col-sm-6 mb-3">
                    <div class="card driver-card mt-hover-none">
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-between">
                                <i class="fa fa-user fa-3x text-danger" aria-hidden="true"></i>
                                <div class="text-right text-white">
                                    <h5>Users</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-3">
                    <div class="card driver-card mt-hover-none">
                        <div class="card-body p-4 ">
                            <div class="d-flex justify-content-between">
                                <i class="fa fa-info-circle fa-3x text-danger" aria-hidden="true"></i>
                                <div class="text-right text-white">
                                    <h5>Vehicle Requests</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-3">
                    <div class="card driver-card mt-hover-none">
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-between">
                                <i class="fa fa-user fa-3x text-danger" aria-hidden="true"></i>
                                <div class="text-right text-white">
                                    <h5>Drivers</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-3">
                    <div class="card driver-card mt-hover-none">
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-between">
                                <i class="fa fa-car fa-3x text-danger" aria-hidden="true"></i>
                                <div class="text-right text-white">
                                    <h5>Vehicles</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>

   
</div>