<div class="card text-center w-75" style="margin-left: 15%; margin-top: 20px;">
    <h3 class="display-3 text-center heroines-text">Frequently Asked Questions</h3>
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/faqs">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faqfleet">Fleet Cordinator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/faqadmin">Admin</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
        <h4> <strong>An Admin creates and views all activities of a fleet coordinator and also accesses daily reports</strong></h4>
        <h4> <strong>CREATING FLEET COORDINATOR</strong> </h4>
        <p>How to create Fleet Coordinator?</p>
        <em>Fill in the fields on the vehicle request form and submit</em>
        <hr>
        </div>
        <div class="card-footer">
            <span>Click the Understood and Close button to return to the login page</span>
            <button type="button" class="btn btn-primary"><a href="/login" style="color: blanchedalmond;">Understood & Close</a></button>
        </div>
    </div>
  </div>