<div class="card text-center w-75" style="margin-left: 15%; margin-top: 20px;">
    <h3 class="display-3 text-center heroines-text">Frequently Asked Questions</h3>
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="/faqs">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faqfleet">Fleet Cordinator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/faqadmin">Admin</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
        <h4> <strong>CREATING USERS</strong> </h4>
        <p> <strong>Fleet Coordinator can Disable,Edit,Delete,Enable Users and approve Requests</strong></p>
        <p>How to create Create Users/Requestors per Department?</p>
        <ol>
            <li>Click on the link labelled USERS</li>
            <li>Click on the link labelled USERS</li>
        </ol>
        <hr>
        <h4> <strong>CREATING DRIVERS</strong> </h4>
        <p> <strong>Fleet Coordinator can Disable,Edit,Delete,Enable & Reassign Drivers to vehicles</strong></p>
        <p>How to Create Drivers?</p>
        <ol>
            <li>Click on the link labelled USERS</li>
            <li>Click on the link labelled USERS</li>
        </ol>
        <hr>
        <h4> <strong>REPORTING</strong> </h4>
        <p> <strong>Fleet Coordinator can keep daily logs of users created and vehicle requests made</strong></p>
        <p>How can I access reports ?</p>
        <ol>
            <li>Click on the link labelled USERS</li>
            <li>Click on the link labelled USERS</li>
        </ol>
        <hr>
        <p>What happens when there is a time lapse?</p>
        <ol>
            <li>Call Driver for Time Lapse</li>
            <li>Escalate report of time lapse</li>
        </ol>
        <hr>
        <p>How can I know there is a new request ?</p>
        <ol>
            <li>You will receive an SMS and E-mail notification</li>
        </ol>
        <hr>
        </div>
        <div class="card-footer">
            <span>Click the Understood and Close button to return to the login page</span>
            <button type="button" class="btn btn-primary"><a href="/login" style="color: blanchedalmond;">Understood & Close</a></button>
        </div>
    </div>
  </div>