
    <div class="card text-center w-75" style="margin-left: 15%; margin-top: 20px;">
        <h3 class="display-3 text-center heroines-text">Frequently Asked Questions</h3>
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" href="/faqs">Users</a>
            </li>
          
          </ul>
        </div>
        <div class="card-body">
            <h4> <strong>USERS</strong> </h4>
            <p> <strong>A user can make/ cancel vehicle request and view logs for requests</strong></p>
            <p><strong>How can I make a request?</strong></p>
            <em>Fill in the fields on the vehicle request form and submit</em>
            <hr>
            <p><strong>Who is able to request for an emergency vehicle?</strong></p>
            <em>HODs of department are able to request for emergency vehicle</em>
            <hr>
            <p> <strong>How can I know my request is approved?</strong></p>
            <em>You will receive an SMS and E-mail notification</em>
            <hr>
            <p> <strong>How can I cancel a request?</strong></p>
            <em>Request can be cancelled on the post approval user interface</em>
            <hr>
            <p> <strong>How can I know there is a new request for approval?</strong></p>
            <em>You will receive an SMS and E-mail notification</em>
            </div>
            <div class="card-footer">
                <span>Click the Understood and Close button to return to the login page</span>
                <button type="button" class="btn btn-primary"><a href="/login" style="color: blanchedalmond;">Understood & Close</a></button>
            </div>
        </div>
        
      </div>
