<div class="hero">
  <div class="row p-md-5">
    <div class="col text-center py-5">
      <!-- <h3 class="display-3 mb-5 hero-text">PR Event Management System</h3> -->
      <a href="/login" class="btn btn-warning py-3 btn-getStarted">Continue</a>
    </div>
  </div>
</div>

