<div class="hero p-md-5">
  <div class="row mt-5">
    <div class="col-12 text-center text-white mb-3" id="postcontainer">
      <a href="/request/new" class="btn btn-postrequest1 py-1.5 btn-getStarted"
        >New Request</a
      >
    </div>
    <div class="col-12 text-center text-white mb-3" id="postcontainer">
      <a href="/view-logs" class="btn btn-postrequest2 py-1.5" id="btnViewLog"
        >View Logs</a
      >
    </div>
    <div class="col-12 text-center text-white mb-3" id="postcontainer">
      <a
        href="/feedback"
        class="btn btn-postrequest py-1.5 btn-getStarted"
        id="btnViewLog"
        >Feedback</a
      >
    </div>
  </div>
</div>
