<div class="hero p-md-5">
  <div class="row mt-5">
    <div class="col-12 text-center text-white mb-3">
      <!-- <h1 class="display-2 text-center hero-text my-4">Vehicle Request Application</h1> -->
      <!-- <h2>Welcome to Orange Vehicle Request Application.</h2>
      <h2 class="mb-4">Click on the new request button to make a new request.</h2> -->
      <a href="/request/new" class="btn btn-postrequest py-1.5 btn-getStarted">New Request</a>
      <!-- <a href="/view-logs" class="btn btn-post mx-5" id="btnViewLog">View Logs</a> -->
      <a href="/feedback" class="btn btn-postrequest py-1.5 btn-getStarted" id="btnViewLog">Feedback</a>
    </div>

  </div>

</div>