<div class="row">
    <div class="col-md-10 offset-md-1 pt-5">
        <div class="row">
            <div class="col-md-4 user-details d-flex flex-column p-4 border">
                <h1 class="text-center">User Details</h1>
                
                <h3>Fullname:</h3>
                <h4>Salim M. Jalloh</h4>
                <h3>Department:</h3>
                <h4>Orange Money</h4>
                <h3>Username:</h3>
                <h4>C1 Salim</h4>
            </div>
            <div class="col-md-8 d-flex flex-column border">
                <div class="row">
                    <div class="col-md-12 d-flex flex-column mb-4 p-4">
                        <h1 class="text-center">Request Details</h1>
                        <table class="table">
                            <tbody class="tbody text-center table-borderless">
                                <tr>
                                    <td scope="row">
                                        <h4>Request Date:</h4>
                                        <h5>January 12<sup>th</sup>,2020</h5>
                                    </td>
                                    <td>
                                        <h4>Request Time:</h4>
                                        <h5>15:54 PM</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        <h4>Departure Date</h4>
                                        <h5>January 14<sup>th</sup>,2020</h5>
                                    </td>
                                    <td>
                                        <h4>Departure Time</h4>
                                        <h5>09:00 AM</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        <h4>Return Date</h4>
                                        <h5>January 16<sup>th</sup>,2020</h5>
                                    </td>
                                    <td>
                                        <h4>Return Time</h4>
                                        <h5>09:00 AM</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        <h4>Trip Purpose</h4>
                                        <h5>Internal</h5>
                                    </td>
                                    <td>
                                        <h4>Number of Passengers</h4>
                                        <h5>5</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="col-md-12 p-2">
                        <h1 class="text-center">Driver Details</h1>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, facere unde
                            fugit
                            quae debitis provident dolores veritatis maiores rem nemo aperiam in ipsam amet. Voluptatum
                            fugit
                            aliquam aperiam cum voluptatibus autem vero. Dignissimos necessitatibus voluptatibus
                            perferendis
                            provident molestias nobis omnis laborum veniam, saepe repellendus similique odio quia
                            nostrum
                            aperiam unde.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
