<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            background: #000;
            color: #fff;
        }
    </style>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-3">
                <div class="card" style="width: 500px; margin: 25px auto;">
                    <img class="card-img-top" src="/public/images/f2.jpg" alt=""
                        style="width: 500px; height: 300px; border-bottom: 2px solid white;">
                    <div class="card-body text-center" style="padding: 10px;">
                        <p style="padding: 10px 0px; font-size:12px; text-transform:uppercase;">Dear ${username}</p>
                        <p class="card-text" style="font-size: 12px; text-transform:capitalize;">You have successfully
                            been
                            registered to the Orange Vehicle Request System. You
                            must follow this link to activate your account:
                            <a href="http://172.25.164.15:3000/login" target="_blank">link</a> Have fun, and please dont
                            hesitate to contact us with your feedback.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
